<h2>Share a News</h2>
<form [formGroup]="form" (ngSubmit)="submit()">
  <div>
    <label>Title: </label>
    <input type="text" formControlName="title" minlength="5">
  </div>
  <div>
    <label>Photo: </label>
    <input type="file" #photoupload>
  </div>
  <div>
    <label>Description: </label>
    <textarea formControlName="description" cols="30" rows="10"></textarea>
  </div>
  <div>
    <label>Tags: </label>
    <input type="text" #add>
    <button type="button" (click)="addTag()">+</button>
  </div>
  <table>
    <tbody formArrayName="tags">
      <tr *ngFor="let t of tagArray; let i = index">
        <td>
          <label>{{t}}</label>
          <button (click)="delete(i)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button>Back</button>
  <button type="submit" [disabled]="!form.valid">Post News</button>
</form>
